:root{
  --bg:#000;
  --card:#111;
  --text:#fff;
  --muted:#bbb;
  --accent:#f5c400;
}



*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:var(--bg);
  color:var(--text);
  line-height:1.6;
  transition:.3s;
}


/* HERO */
.hero{
  text-align:center;
  padding:34px 20px 10px 20px;
}
.hero h1{
  font-size:42px;
}
.hero p{
  margin-top:15px;
  color:var(--accent);
}

/* DIVIDER */
.divider{
  height:2px;
  width:0;
  background:var(--accent);
  margin:60px auto;
  animation:grow 1s forwards;
}
@keyframes grow{
  to{width:80%}
}

/* SECTION */
.section{
  padding:70px 8%;
}
.section h2{
  font-size:32px;
  margin-bottom:30px;
  border-left:6px solid var(--accent);
  padding-left:12px;
}

/* SERVICE GRID */
.services{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:20px;
}

.service{
  background:var(--card);
  padding:22px;
  border-left:4px solid var(--accent);
  transition:.3s;
  position:relative;
}

.service:hover{
  transform:translateY(-6px);
  box-shadow:0 0 25px rgba(245,196,0,0.35);
}

.service h3{
  margin-bottom:10px;
}
.service p{
  font-size:14px;
  color:var(--muted);
}

/* QUOTE BUTTON */
.service button{
  margin-top:15px;
  background:transparent;
  border:1px solid var(--accent);
  color:var(--accent);
  padding:8px 14px;
  cursor:pointer;
  border-radius:20px;
  font-size:13px;
}
.service button:hover{
  background:var(--accent);
  color:#000;
}

/* CTA */
.cta{
  text-align:center;
  padding:90px 20px;
  background:var(--card);
}
.cta h2{
  font-size:36px;
}
.cta p{
  margin:15px 0 30px;
  color:var(--muted);
}
.cta a{
  background:var(--accent);
  color:#000;
  padding:14px 32px;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
}