body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#000000;
  color:#ffffff;
}

/* HERO */
.hero{
  background:#000;
  color:#fff;
  text-align:center;
  padding:80px 20px;
}

.hero h1{
  font-size:40px;
  margin-bottom:15px;
}

.hero p{
  font-size:18px;
  opacity:0.8;
}

/* SECTION */
.section{
  padding:60px 5%;
}

.section h2{
  font-size:26px;
  margin-bottom:25px;
}

/* CAROUSEL */
.carousel{
  position:relative;
  overflow:hidden;
}

.track{
  display:flex;
  transition:transform 0.4s ease;
}

.slide{
  margin-right:20px;
}

/* LANDSCAPE */
.landscape img{
  width:320px;
  aspect-ratio:4/3;
  object-fit:cover;
  border-radius:10px;
}

/* INSTAGRAM 1:1 */
.square img{
  width:250px;
  aspect-ratio:1/1;
  object-fit:cover;
  border-radius:10px;
}

/* REELS 9:16 */
.vertical img{
  width:200px;
  aspect-ratio:9/16;
  object-fit:cover;
  border-radius:10px;
}

/* WEBSITE SMALL */
.website img{
  width:280px;
  aspect-ratio:16/10;
  object-fit:cover;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

/* BUTTONS */
.btn{
  position:absolute;
  top:40%;
  transform:translateY(-50%);
  background:#000;
  color:#fff;
  border:none;
  padding:10px 15px;
  cursor:pointer;
  font-size:18px;
}

.prev{ left:0; }
.next{ right:0; }

.btn:hover{
  background:#444;
}




/* TABLET */
@media (max-width:1024px){
    .hero h1{
        font-size:30px;
    }
}

/* MOBILE */
@media (max-width:600px){
    .hero{
        padding:50px 15px;
    }

    .hero p{
      font-size: 14px;
    }

    .hero h1{
        font-size:24px;
    }

    .work-grid{
        grid-template-columns:1fr;
    }
}